In [1]:
import pandas as pd

In [2]:
! pip install pandarallel

Collecting pandarallel
  Downloading pandarallel-1.5.2.tar.gz (16 kB)
Requirement already satisfied: dill in /opt/conda/lib/python3.8/site-packages (from pandarallel) (0.3.3)
Building wheels for collected packages: pandarallel
  Building wheel for pandarallel (setup.py) ... done
  Created wheel for pandarallel: filename=pandarallel-1.5.2-py3-none-any.whl size=18384 sha256=222a6b0da117bdfb314b5b91245826ea59ab1d9204620301f13a9ec2a79247b0
  Stored in directory: /home/.cache/pip/wheels/37/f8/ca/195b0c87ec47a501d111d1a8e2f23324f46d7d98461cf0d334
Successfully built pandarallel
Installing collected packages: pandarallel
Successfully installed pandarallel-1.5.2
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.1.1; however, version 21.1.2 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [18]:
from pandarallel import pandarallel
pandarallel.initialize()

INFO: Pandarallel will run on 64 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [5]:
df = pd.read_csv('data.csv',index_col=0)

In [12]:
trial=df['caption'][0]

In [14]:
value=trial.split("/")
value[2]

'melbourne'

In [15]:
def captions_2_label(caption):
    captionSplit = caption.split("/")
    return captionSplit[2]

In [20]:
%%time
df['label'] = df['caption'].parallel_apply(captions_2_label)

CPU times: user 483 ms, sys: 1.15 s, total: 1.64 s
Wall time: 1.97 s

In [47]:
df.head()

,caption,img,label
0,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1486...,melbourne
1,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1487...,melbourne
2,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1482...,melbourne
3,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1490...,melbourne
4,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1490...,melbourne

In [48]:
df=df.fillna(0)

In [49]:
y = df['label']

In [50]:
x = df.fillna(0)

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=42,
                                                    stratify=y)

In [55]:
len(y_train)

800000

In [56]:
x_train.to_csv('train.csv')

In [43]:
x_test.head()

,caption,img,label
189466,captions_resized_1M/cities_instagram/toronto/1...,img_resized_1M/cities_instagram/toronto/148240...,toronto
480489,captions_resized_1M/cities_instagram/newyork/1...,img_resized_1M/cities_instagram/newyork/148980...,newyork
858092,captions_resized_1M/cities_instagram/losangele...,img_resized_1M/cities_instagram/losangeles/148...,losangeles
35259,captions_resized_1M/cities_instagram/melbourne...,img_resized_1M/cities_instagram/melbourne/1489...,melbourne
856479,captions_resized_1M/cities_instagram/losangele...,img_resized_1M/cities_instagram/losangeles/149...,losangeles

In [63]:
test_x,val_x,test_y,val_y = train_test_split(x_test,y_test,
                                                    test_size=0.3,
                                                    random_state=42,
                                                    stratify=y_test)

In [64]:
len(val_x)

60000

In [65]:
test_x.to_csv("test.csv")

In [66]:
val_x.to_csv("val.csv")